extends base.pug

block scripts
      script(src='../static/world.js')

      style
        include ../static/style.css
        include ../static/worldStyle.css


block content
    div.container 
        h1 News All Over World
    ul(id="list",class="list-group-item")