@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


.container {
  width: 100%;
  padding-right: 15 px;
  padding-left: 15 px;
  margin-right: auto;
  margin-left: auto;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h3{
    font-size: 30px;
    padding: 15px 25px;
    margin: 0 45px;
}

.heading{
    background-color: #955251;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.fluid-container{
    background-color: whitesmoke;
    margin: 10px 15px;
    align-items: center;
    border: 1px solid grey;
    border-radius:5px;
    width: 70%;
    overflow: hidden;
}

#header{
    margin: 15px;
    padding:10px;
    display: flex;
    justify-content:center;
    font-family: 'Inconsolata', monospace;
    font-size: 23px;
}

.card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
}

#para{
    width: 40%;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    font-size:21px;
}

@media (max-width:790px) {
    .card{
        flex-direction: column;
        align-items: center;
    }

    #photo{
        height: 90%;
        width:90%;
    }

    #para{
        width:90%;
    }

    .fluid-container{
       width:90%;
    }
}
